body {
    background-color: #000;
    span {
        color: red;
    }
    background: url("@img/section-3.jpg") 0 0 no-repeat;
}

@media (max-width: 768px) {
    span {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    body {
        background-color: green;
    }
}